<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Academy.listeners"/></listeners>
      <test name="TestDate">
      <classes>
      <class name="Academy.TC_registr_001"></class>
      <class name="Academy.TC_interations"></class>
      </classes>
      </test>
      <!-- Test -->
</suite> <!-- Suite -->
