<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Academy.listeners"/>
	</listeners>
    <test name="Register">
      <classes>
      	<class name="Academy.TC_registr_001"></class>
      	<class name="Academy.TC_firstalert"></class>
      	<class name="Academy.TC_Secondalert_clickingok"></class>
      	<class name="Academy.TC_Secondalert_clickingcancel"></class>
        <class name="Academy.TC_Thirdalert_withtextbox_ok"></class>
      	<class name="Academy.TC_Thirdalert_withtextbox_cancel"></class>
      	 </classes>
     </test>
 </suite>
